@import '../../../imports/colors'

.preview
	grid-column: auto / span 2

	padding: 4vh 2vw 6vh 2vw
	border-radius: 4px

	align-self: start

	transition: all .5s

	&:nth-child(1n)
		background-color: $green

	&:nth-child(2n)
		background-color: $grey

	&:hover
		border-radius: 20px

		transition: all .5s

	@media (max-width: 80em)
		grid-column: auto / span 3

	@media (max-width: 50em)
		grid-column: auto / span 6

	.name
		font-size: 1.5em
		font-weight: 700
		padding-bottom: 4vh

		.link
			text-decoration: none
			color: $brightBlack

			&:hover
				color: $black

	.description
		font-weight: 300